[submodule "haul"]
	path = haul
	url = git@github.com:Maksasj/haul.git
[submodule "triton"]
	path = triton
	url = git@github.com:Maksasj/triton.git
[submodule "caifu"]
	path = caifu
	url = git@github.com:Maksasj/caifu.git
